<li>
	{{burger_name}}

	<button class="lunch-button" data-id="{{id}}" data-ate-it="{{devoured}}">
		{{#if devoured}}Make another!{{else}}Eat it!{{/if}}
	</button>

	<button class="delete-button" data-id="{{this.id}}">Throw away!</button>
</li>

